.signIn_page {
    .sign_form {
        margin: 20px 160px;
        padding: 40px 160px;

        // input {
        //     margin-top: 20px;
        //     margin-bottom: 20px;
        // }

        p {
            margin-top: -10px;
            text-align: center;
        }
    }
}