.signOut_page {
    margin: 60px auto 0px auto;
    .sign_out_content {
        // margin: 0 160px 20px 160px;
        // padding: 20px 160px 20px 160px;
        font-size: 20px;
        text-align: center;

        span {
            font-size: 25px;
        }
    }
}