$primary-color: #f5922f;
$brand-red: #fc0d1b;
$brand-green: #5d8b44;
$screen-background: #fff;
$dark-background: #141719;
$border-color: #353435;

/*fonts*/
$arial-normal: Arial, sans-serif;
$arial-bold: Arial-Bold, sans-serif;
$lato-light: Lato-Light, sans-serif;
$lato-regular: Lato-Regular, sans-serif;
$lato-bold: Lato-Bold, sans-serif;
$roboto-thin: Roboto-Thin, sans-serif;
$roboto-light: Roboto-Light, sans-serif;
$roboto-regular: Roboto-Regular, sans-serif;
$roboto-bold: Roboto-Bold, sans-serif;
